version: '3'
volumes: 
  spacex-db-data:
    driver: local
services:
  postgres-server:
    image: "postgres:10.4-alpine"
    environment:
      POSTGRES_DB: spacex
      POSTGRES_USER: spacex
      POSTGRES_PASSWORD: spacex
    volumes: 
      - spacex-db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"